$black: #212733;

.header {
    padding: 26px 0 507px 0;
    .upper-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lower-header {
        padding: 174px 0px 0 0;
        text-align: center;
        .lower-header__title {
            font-weight: 400;
            font-size: 74px;
            line-height: 90px;
            text-transform: uppercase;
            color: $black;
        }
        .lower-header__subtitle {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            margin: 20px 0 80px 0;
        }
        .arrow-right__header-btn {
            margin: 0 0 0 44px;
        }
    }
}

.background-image {
    width: 100%;
    height: 1030px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.about-me-section {
    background:#F1F1F1;
    height: 940px;
    .main-about-me {
        height: 940px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .about-me__image {
            width: 50%;
            position: absolute;
            left: 0;
            margin: 1px 0 0 0;
            img {
                width: 100%;
                height: 940px;
            }
        }
        .about-me__info {
            width: 500px;
            text-align: right;
            &-title {
                margin: 34px 0 64px 0;
            }
            &-subtitle {
                margin: 0 0 40px 0;
            }
        }
    }
}

.portfolio-section {
    padding: 90px 0 0 0;
    .portfolio__title {
        text-align: center;
        margin: 0 0 70px 0;
    }
    .main-portfolio {
        display: flex;
        align-items: center;
        justify-content: center;
        .portfolio__btn {
            position: absolute;
            display: inline-block;
            margin: 0px 0px 287px 898px;
        }
    }
}


.sentence-section {
    padding: 90px 0 90px 0;
    background: #1A1F25;
    .sentence-title {
        color: #fff;
        text-align: center;
        margin: 0 0 80px 0;
    }
    .main-sentence {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .sentence-blog {
            width: 240px;
            height: 210px;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            .sentence-blog__image {
                width: 100%;
                text-align: center;
            }
            .sentence-blog__subtitle {
                width: 100%;
                text-align: center;
                margin: 20px 0 0 0;
                color: #fff;
            }
            .sentence__btn {
                color: #fff;
                border: 1px solid #fff;
            }
        }
        .sentence__line {
            width: 100%;
            border: 1px solid #595959;
        }
        .sentence__line-right {
            height: 210px;
            border: 1px solid #595959;
        }
    }
}

.benefites-section {
    padding: 336px 0 187px 0;
    .benefites__title {
        margin: 0 0 30px 0;
    }
    .main-bemefites {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        .benefites-blog {
            width: 602px;
            display: flex;
            align-items: flex-start;
            margin: 60px 0 0 0;
            .benefites-blog__title {
                width: 430px;
                margin: 0 0 0 20px;
                line-height: 24px;
                color: #1A1F25;
            }
        }
    }
}

.lower-backgroud__image {
    position: absolute;
    width: 100%;
    height: 900px;
    z-index: -1;
    margin: -900px 0 0 0;
}

.contacts-section {
    height: 940px;
    background: #000201;
    .main-contancts {
        height: 940px;
        display: flex;
        justify-content: flex-end;
        .main-contacts__register {
            width: 50%;
            background: url(./../img/city.png) no-repeat 0px 0px;
            height: 940px;
            position: absolute;
            left: 0;
            display: flex;
            justify-content: flex-end;
            .main-contacts__register-blog {
                width: 606px;
                padding: 0 100px 0 0;
                .main-contacts__register-title {
                    margin: 173px 0 0 0;
                    color: #fff;
                }
                .main-contacts__form {
                    display: block;
                    margin: 80px 0 78px 0;
                    .main-contacts__label {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #fff;
                    }
                    .main-contacts__input {
                        font-family: 'Montserrat', sans-serif;
                        width: 100%;
                        height: 40px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        outline: none;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #fff;
                        margin: 0 0 42px 0;
                        color: #fff;
                    }
                    .main-contacts__texterea {
                        font-family: 'Montserrat', sans-serif;
                        width: 100%;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        outline: none;
                        border: none;
                        background: transparent;
                        border-bottom: 1px solid #Fff;
                        color: #fff;
                    }
                }
                .main-contacts__btn {
                    img {
                        margin: 0 0 0 31px;
                    }
                    padding: 17px 30px;
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }
        .main-contacts__suggestions {
            &-title {
                margin: 173px 0 0 0;
                color: #fff;
                text-align: right;
            }
            .main-contacts__suggestion-blogs {
                display: flex;
                margin: 138px 0 0 0;
                .main-contacts__suggestion-blog {
                    width: 192.5px;
                    height: 284px;
                    padding: 59px 14px 30px 15px;
                    margin: 0 7px 0 0;
                    border: 1px solid #fff;
                    &-title {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #fff;
                    }
                    &-subtitle {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        margin: 15px 0 0 0;
                        color: #E8E8E8;
                    }
                    &-price-no-that {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        text-decoration: line-through;
                        color: #fff;
                    }
                    &-price {
                        font-weight: 500;
                        font-size: 24px;
                        position: absolute;
                        line-height: 29px;
                        margin: 6px 0 0 0;
                        color: #fff;
                    }
                }
            }
            .main-contacts__suggestion-blog:hover {
                background: linear-gradient(180deg, #61B3C9 0%, #074D88 100%)
            }
        }
    }
}

.footer {
    padding: 103px 0 102px 0;
    background: #17181C;
    .main-footer {
        display: flex;
        justify-content: space-between;
        padding: 0 0 45px 0;
        .footer-blog {
            width: 295px;
            &__title {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                margin: 0 0 33px 0;
                color: #fff;
            }
            &__subtitle {
                width: 266px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #e5e5e5;
            }
            &__paragraph {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                margin: 27px 0 0 0;
                color: #e5e5e5;
            }
            &__subtitle-blog {
                display: flex;
                align-items: center;
                margin: 0 0 30px 0;
                .footer-blog__link {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-decoration: none;
                    margin: 0 0 0 14px;
                    color: #e5e5e5;
                }
            }
        }
    }
    .lower-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 41px 0 0 0;
        border-top: 1px solid #595959;
        .lower-footer__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #fff;
        }
        .lower-footer__icons-blog {
            display: flex;
            .footer-icon-blog {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                margin: 0 0 0 10px;
                background-color: #fff;
            }
        }
    }
}

.popup.show {
    opacity: 1;
    z-index: 99;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
    .popup__body {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .popup__content {
            min-width: 660px;
            height: 450px;
            background: #fff;
            text-align: center;
            padding: 30px 0 0 0;
            &-title {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                margin: 30px 0 15px;
                color: #212733;
            }
            &-subtitle {
                width: 386px;
                font-weight: 400;
                font-size: 16px;
                display: inline-block;
                line-height: 24px;
                margin: 0 0 30px 0;
                color: #212733;
            }
            &-lower {
                padding: 64px 0 63px 0;
                background: #7DBAAB;
                .popup__content__btn {
                    display: inline-flex;
                    align-items: center;
                    border: 1px solid #fff;
                    color: #fff;
                    img {
                        margin: 0 0 0 22px;
                    }
                }
            }
        }
    }
}